{% extends 'index.html.twig' %}{% block body %}    {% block navbar %}        {{ parent() }}    {% endblock %}    <div class="container">        <h2>Укажите дополнительные данные</h2>        <hr>        {{ form(form) }}    </div>{% endblock %}{% block title %}{% endblock %}