<script src="//ulogin.ru/js/ulogin.js"></script><div id="uLogin" data-ulogin="display=small;theme=classic;fields=first_name,last_name;providers=vkontakte,google,facebook;hidden=;redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Flogin;mobilebuttons=0;optional=email;"></div>