<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block head_css %}
            <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% endblock %}
        {% block head_js %}
            <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% endblock %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            {% block navbar %}
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container">
                        <a class="navbar-brand" href="{{ path('ping') }}">Booking.kg</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarText">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('ping') }}">Главная</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_show_profile') }}">Мой профиль <span class="sr-only">(current)</span></a>
                                </li>
                            </ul>
                            <span class="navbar-text">
                         <ul class="navbar-nav mr-auto">
                             {% if app.user %}
                                 <li class="nav-item">
                                    <a class="nav-link" href="{{ path('new-object') }}">Создать объект</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="{{ path('logout') }}">Выход</a>
                                 </li>
                             {% else %}
                                 <li class="nav-item">
                                <a class="nav-link" href="{{ path('sign-in') }}">Войти</a>
                            </li>
                                 <li class="nav-item">
                                <a class="nav-link" href="{{ path('app-sign-up') }}">Создать аккаунт</a>
                            </li>
                             {% endif %}
                         </ul>
                    </span>
                        </div>
                    </div>
                </nav>
            {% endblock %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
