{% extends "index.html.twig" %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}
    <div class="container">
        <div class="form-sign-in">
            <h3>Регистрируйся тут</h3>
            {% if error %}
                <div class="flash-notice alert alert-warning alert-dismissible fade show">
                    {{ error }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
            {% endif %}
            {% for message in app.flashes('error_message') %}
                <div class="flash-notice alert alert-warning alert-dismissible fade show">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
            {% endfor %}
            {{ form_start(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.passport) }}
            {{ form_row(form.password) }}
            {{ form(formRole) }}
            {{ form_end(form) }}
            <hr>
            {{ include('sign_up/ulogin.html.twig') }}
        </div>
    </div>
{% endblock %}


